*.tlog
*.obj
*.vcxproj
*.exe
*.lib
*.dll
*.check_cache
*.res
*.pdb
*.exp
*.ilk
*.filters
*.log
*.lastbuildstate
*.cache
*.opensdf
*.sdf
*.sln
*.suo
*.aps
*.orig
*\CMakeFiles\*
CMakeCache.txt
cmake_install.cmake
desktop.ini
GDAL\build\*.dir\*
*.vcxproj.user
*.idea
cache_cmake.txt
cache_build.txt
cache_test.txt
bin/*
cmake-build-*
